*{

 color: white;
 background-color: black;
}

custom-toast {
  color: white; /* Makes the font color white */
  background-color: gray; /* Optional: Darken background for better contrast */
}

nav{
  background-color: black;
}


.app{
  background-color: black;
}